#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  width: 560px;
  color: #111;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #969696;
  border-radius: 8px;
  padding: 1.2em;
  width: calc(100% - 124px);
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input input {
  transition: 0.3s all ease;
  background-color: transparent;
  color: #111;
  border: 1px solid #111;
  border-radius: 10px;
  padding: 10px;
}

.form-input input:focus-visible {
  transition: 0.3s all ease;
  outline: none;
  border: 1px solid rgb(47, 77, 131);
}

.warning-message {
  display: flex;
  text-align: center;
  font-size: 12px;
  padding: 0 15px;
}

.error-message {
  line-height: initial;
  color: red;
  font-weight: 500;
  font-size: 14px;
}