#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input input {
  padding: 5px 10px;
}